#jumbotronImage{
    width: 30%;
    margin-top: -90px;
}

.jumbotron{
    text-align:center;
    background-color:#ffffff !important;
}
#h5{
    font-family:'Nunito Sans';
    text-align: center !important;
}
.btn-primary {
    font-family:'Nunito Sans'; 
}