#addIconCentered{
    background: #ffc107;
    border: none;
    border-radius: 40px 10px;  
    width: 150px;
    height: 50px;
    margin: 15px;
}

#withButton{
    padding-right: 10% !important;
    margin-left:-35% !important;
}
