#donationModalImage{
    max-width: 70%;
 }
 .modal-content {
     border-style: none !important
 }

 #aboutusModalImage{
    max-width: 40%;
    margin-left: -20px;
 }
 .modal-dialog{
     position: relative !important
 }