.bar-primary {
    width: 4px;
    height: 1em;
    content: "";
    margin-right: 1rem;
    display: inline-flex;
    background-color: #000000;
}

#row1{
    margin-bottom:50px;
}
h2, h6{
    font-family:'Nunito Sans';
    margin-bottom: 5px !important;
}