.bar-primary {
    width: 4px;
    height: 1em;
    content: "";
    margin-right: 1rem;
    display: inline-flex;
    background-color: #000000;
}
.rightmostContainer{
}

.listClass{
    position: relative!important;
    margin:0
}
.slider{
    margin-top: -4%;
}