.fa-bell{
    color:white!important;
}
.fa-bell:hover {
    color: #007bff !important; 
}
.fa-edit{
    margin-right: 20px;
}

#notificationForm {
    border: 1px solid #1d2124;
    padding: 10px;
    border-spacing: 15px;
}
.btn-success {
    color: #fff;
    background-color: #1d2124;
    border-color: #1d2124 !important;

}
#withoutButton{
    padding-left: 45%;
}
.viewAll{
    background-color: #000000 !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.notification-menu-main-container {
    width: 300px;
}

.notification-item-container {
    transition: border-color 1s ease;
    border-left: 5px solid;
    padding-left: 10px;
}
