.donateModal{
    float: right;
    position: relative !important
}

.aboutusModal{
    float: right;
    max-width: 100%;
    position: relative !important
}
.mainClass{
    position: absolute !important;
}
