.donateModal{
    float: right;
    width: 56%;
    overflow-y: visible;
}
.aboutusModal{
    float: right;
    width: 56%;
    overflow-y: visible;
}
.mainClass{
    position: relative !important;
    margin: 0;
    padding: 0;
}
.rightmostframe{
}

.rightmostframeWrapper{
    position: fixed;
    right: 7px;
    max-width: 47%;
    
}
